@charset "utf-8";
*{margin:0; padding:0;}
#wrap {
    width: 1167px;
    margin: 0 auto;
    margin-top: 150px;
}

#today_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#weather{display: flex;}

#weather>div:nth-of-type(1){
    text-align: center; 
    margin-right:16px;
} 

#weather>div>img{
    width: 73px;
}

#weather>div:nth-of-type(1)>p{
    font-size:20px;
}

#weather_con2>p{
    font-size: 60px;
    font-weight: 900;
}

#date {
    font-size: 50px;
    font-weight: bold;
}

#wave_wrap{display: flex; margin-top:40px;}

.wave_ht{
    position: relative;
    top:0;
}

.wave_ht>p:nth-of-type(1) {
    font-size: 36px;
    font-weight: 800;
    position: absolute;
    top: 64px;
    left:205px;
}

.wave_ht>p:nth-of-type(2) {
    font-size: 23px;
    font-weight: 800;
    position: absolute;
    top: 105px;
    left:296px;
}

.wave_ht>p:nth-of-type(3) {
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    top: 144px;
    left: 255px;
}

.wave_ht>p:nth-of-type(4) {
    font-size: 30px;
    font-weight: 600;
    color:#006BD6;
    position: absolute;
    top: 258px;
    left: 264px;
}

.wave_ht>p:nth-of-type(5) {
    font-size: 30px;
    font-weight: 600;
    color:#fff;
    position: absolute;
    top: 310px;
    left:220px;
}

.wind_current{
    position: relative;
    top:0;
    height: 294px;
    margin-top: 74px;
}

.wind_cur1{
    padding:0 66px;
}

.wind_cur1>img:nth-of-type(2){
    position: absolute;
    top: 28%;
    left: 32%;
}

.wind_cur2>img:nth-of-type(2){
    position: absolute;
    top: 28%;
    left: 24%;
}

.wind_current{
    position: relative;
    top:0;
}

.wind_current>img:nth-of-type(2){
    transform: rotate(230deg);
    transition: 1s;
}

#wave_wrap>.wind_cur1>p:nth-of-type(1){
    font-size: 16px;
    position:absolute;
    bottom: -72px;
    left:50%;
    transform: translateX(-50%);
    font-weight: bold;
}

#wave_wrap>.wind_cur2>p:nth-of-type(1) {
    font-size: 16px;
    position:absolute;
    bottom: -72px;
    left:50%;
    transform: translateX(-50%);
    font-weight: bold;
}

#wave_wrap>.wind_cur1>p:nth-of-type(2){
    font-size: 20px;
    position:absolute;
    bottom: -50px;
    left:50%;
    transform: translateX(-50%);
    font-weight: bold;
}

#wave_wrap>.wind_cur2>p:nth-of-type(2){
    font-size: 20px;
    position:absolute;
    bottom: -50px;
    left:50%;
    transform: translateX(-50%);
    font-weight: bold;
}

/* Tide 영역 */
.title {
    font-size: 50px;
    font-weight: 900;
    margin-top: 85px;
}

#tide_wrap {
    display: flex;
}

.tide_text>p{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

#tide_wrap>div {
    margin: 25px 43px 0 32px;
}

/* 버튼 */
#api_btn p{
    margin: 108px auto 80px;
    width: 206px;
    height: 96px;
    background-color: #9E3737;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

#api_btn{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
/*  */
.title2 {
    font-size: 51px;
    font-weight: 900;
    margin: 200px 0 15px 0;
}

#wind_guru {
    margin-bottom: 30px;
}

@media all and (max-width:768px) {
    section {
        overflow: hidden;
    }

    #wrap {
        padding: 0 40px;
        box-sizing: border-box;
        width:100%;
        margin: 0 auto;
        overflow: hidden;
    }

    #weather {
        margin: 20px auto 0 auto;
    }

    #weather>div>img {
        width: 52px;
    }

    #date {
        display: none;
    }

    #weather_con2>p:nth-of-type(1){
        font-size: 34px;
        margin-top: 12px;
    }

    #weather_star img{
        width: 19px;
    }

    .wave_ht {
        width: 375px;
        margin: 0 auto 50px auto;
        clear: both;
    }

    .wave_ht img {
        width: 100%;
    }

    .wave_ht > p:nth-of-type(1) {
        font-size: 26px;
        left: 180px;
    }

    .wave_ht > p:nth-of-type(2) {
        font-size: 26px;
        left: 220px;
        top: 94px;
    }

    .wave_ht > p:nth-of-type(3) {
        font-size: 38px;
        left: 230px;
        top: 128px;
    }

    .wave_ht > p:nth-of-type(4) {
        font-size: 30px;
        left: 202px;
        top: 202px;
        width: 200px;
    }

    .wave_ht > p:nth-of-type(5) {
        font-size: 28px;
        left: 162px;
        top: 260px;
        width: 200px;
    }

    #wave_wrap {
        display: block;
    }

    .wind_current {
        padding: 0;
        width: 194px;
        margin: 0 auto;
        float: left;
    }

    .wind_cur1 {
        margin: 0 50px 0 60px;
    }

    .wind_current img:nth-of-type(1) {
        width: 100%;
    }

    .wind_cur1 img:nth-of-type(2) {
        width: 110px;
        top: 18%;
        left: 20%;
    }

    .wind_cur2 img:nth-of-type(2) {
        width: 110px;
        top: 17%;
        left: 22%;
    }

    /* 두번째 */
    .title {
        margin: 0 auto;
        display: table;
    }

    #tide_wrap {
        display: block;
        padding-left:0 !important;
        overflow: hidden;
    }

    .tide_picture {
        width: 100px;
    }

    .tide_picture img{
        width: 100px;
    }

    #tide_wrap>div {
        width: 200px;
        float:left;
        display: flex;
    }

    .tide_text>p {
        margin: 11px 32px 0 14px;
    }

    #api_btn p{
        width: 100%;
        height: 46px;
        font-size: 16px;
        padding-top:12px;
        margin-top: 60px;
    }

    .title2 {
        margin-top: 50px;
    }

    #wave_wrap>.wind_cur2>p:nth-of-type(1),#wave_wrap>.wind_cur1>p:nth-of-type(1){
        width: 144px;
        bottom: 60px;
    }

    #wave_wrap>.wind_cur2>p:nth-of-type(2),#wave_wrap>.wind_cur1>p:nth-of-type(2) {
        bottom: 28px;

    }

    .title {
        margin: 70px auto 30px auto;
    }

    
}