<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/apikey.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <title>해양정보</title>
</head>

<body>
    <div id="wrap">
        <div>
          <div id="current-waves">
            <p>유의파고<span></span></p>
            <p>air<span></span></p>
            <p>water<span></span></p>
          </div>
        </div>

        <section id="sec1">
            <div id="circle_wrap">
                <div class="circle_con">
                    <div class="circle-title">
                        <div>
                            <p>Wind</p>
                            <p>바람</p>
                        </div>
                        <div>데이터1</div>
                    </div>
    
                    <div class="circle_con">
                        <div class="circle-cal">
                            <div>N</div>
                            <div>E</div>
                            <div>S</div>
                            <div>W</div>
                        </div>
                        <img src="/imgs/cir.jpg"/>
                    </div>
    
                    <div>데이터1<span>m/s</span></div>
                </div>
    
                <div class="circle_con">
                    <div class="circle-title">
                        <div>
                            <p>Wind</p>
                            <p>바람</p>
                        </div>
                        <div>데이터1</div>
                    </div>
    
                    <div>
                        <div class="circle-cal">
                            <div>N</div>
                            <div>E</div>
                            <div>S</div>
                            <div>W</div>
                        </div>
                        <img src="/imgs/cir.jpg"/>
                    </div>
    
                    <div>데이터1<span>m/s</span></div>
                </div>
            </div>
            
            <div>
                <div>Tide<span>조석</span></div>
                <div></div>
            </div>
        </section>

        <section>
        </section>
    </div>

    <div>송정해수욕장</div>
    <script id="wg_fwdg_208542_100_1700440455527">
        (function (window, document) {
          var loader = function () {
            var arg = ["s=208542" ,"m=100","mw=47","uid=wg_fwdg_208542_100_1700440455527" ,"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=2" ,"p=WINDSPD,GUST,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMP,TMPE,CDC,APCP1s,SLP,RATING"];
            var script = document.createElement("script");
            var tag = document.getElementsByTagName("script")[0];
            script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));
            tag.parentNode.insertBefore(script, tag);
          };
          window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
        })(window, document);
    </script>



    <a href="/seadata?obsCode=DT_0005">부산본점</a>
    <!-- <a href="/seadata?obsCode=DT_0005">부산다대포</a> -->
    <a href="/seadata?obsCode=DT_0091">포항</a>
    <a href="/seadata?obsCode=TW_0094">강릉</a>
    <a href="/seadata?obsCode=TW_0089">강릉경포(경포대해수욕장)</a>
    <a href="/seadata?obsCode=IE_0060">울산</a>
    <a href="/seadata?obsCode=KG_0028">제주월정</a>
    <a href="/seadata?obsCode=TW_0091">양양(낙산해수욕장)</a>

<script>
  const api_key = config.apikey;
  const api_key2 = config.apikey2;

  let url1 = "http://marineweather.nmpnt.go.kr:8001/openWeatherNow.do?serviceKey=" +api_key+ "&resultType=json&mmaf=101&mmsi=994401578,994401597";
  //let url = "http://www.khoa.go.kr/api/oceangrid/buObsRecent/search.do?ServiceKey=wldhxng34hkddbsgm81lwldhxng34hkddbsgm81l==&ObsCode=TW_0062&ResultType=json";
  
  //바다누리 api 
  //데이터타입 : 유의파고, 해양관측부이 풍향/풍속, 조위관측소 실측 풍향/풍속, 해수유동 해양관측부이 실측 유향 유속, 해수유동 해수유동 관측소 실측 유향 유속, 해양관측부이 실측기온, 조위관측소 실츨기온, 해양관측부이 실측 수온, 조위관측 실측 수온
  //let dataType = ["obsWaveHight", "tidalBuWind", "tideObsWind", "tidalBu", "tidalHfRadar", "tidalBuAirTemp", "tideObsAirTemp", "tidalBuTemp", "tideObsTemp"];
  let dataType = [["obsWaveHight", "TW_0089", "TW_0094", "TW_0090", "KG_0028", "DT_0091"], ["tidalBuWind","TW_0089", "TW_0094", "TW_0090", "KG_0028"], ["tideObsWind", "DT_0004" ,"DT_0020", "DT_0056"], ["tidalBu", "TW_0089", "TW_0094", "TW_0090", "KG_0028"], ["tidalHfRadar", "DT_0091", "DT_0004" ,"DT_0020", "DT_0056"], ["tidalBuAirTemp", "TW_0089", "TW_0094", "TW_0090", "KG_0028", "DT_0091"], ["tideObsAirTemp", "DT_0004" ,"DT_0020", "DT_0056"], ["tidalBuTemp", "TW_0089", "TW_0094", "TW_0090", "KG_0028", "DT_0091"], ["tideObsTemp", "DT_0004" ,"DT_0020", "DT_0056"]];
  //관측소 : 경포대해수욕장(강릉경포), 망상해수욕장(강릉), 송정해수욕장, 제주해협(제주월정), 제주, 울산, 파고까지 있음/ 포항, 부산항 신항(다대포), 제주 
  //let obsCode =  ["TW_0089", "TW_0094", "TW_0090", "KG_0028", "DT_0091", "DT_0004" ,"DT_0020", "DT_0056", "DT_0004"];
  
  //검색 기준 날짜
  let today = todayFun();
  console.log(today);
  function todayFun() {
    var date = new Date();
    var year = date.getFullYear();
    var month = ("0" + (date.getMonth()+1)).slice(-2);
    var day = ("0" + date.getDate()).slice(-2);

    return year + month + day;
  }

  console.log(dataType.length);

  //예시 http://www.khoa.go.kr/api/oceangrid/obsWaveHight/search.do?ServiceKey=wldhxng34hkddbsgm81lwldhxng34hkddbsgm81l==&ObsCode=TW_0062&Date=20141101&ResultType=json  
  let url = "http://www.khoa.go.kr/api/oceangrid/"+dataType[0]+"/search.do?ServiceKey="+api_key2+"&ObsCode="+dataType[0]+"&Date="+today+"&ResultType=json";
  //console.log(url);

  // for (let index = 0; index < dataType.length; index++) {
  //   let toplist =  dataType[index];
  //   console.log(dataType[0].length);
  //   for (let i = 0; i < toplist.length; i++) {
  //     //console.log(dataType[index].toplist[i]);
  //     url = "http://www.khoa.go.kr/api/oceangrid/"+dataType[index]+"/search.do?ServiceKey="+api_key2+"&ObsCode="+dataType[index].toplist[i]+"&Date="+today+"&ResultType=json";
  //   }
  // }
  
  //국립해양
  // fetch(url,{
  //   mode: 'cors',
  //   dataType: 'jsonp',
  //   credentials: 'include' 
  // })
  // .then((response)=>response.json())
  // .then((data)=> console.log(data));

  // 이걸로 실행
  // $.ajax({
  //   url:url,
  //   type: 'GET',
  //   success : function(response) {
  //     //console.log(response);
  //     var data = JSON.parse(response);
  //     dataResult(data);
  //   },
  //   error : function(xhr){console.log(xhr)} 
  // });

  function dataResult(data) {
    let data_top = data.result.data;
    let dataLength = data_top.length;

    var html = "";
    var div = document.createElement("div");
    div.innerHTML = data.result.data[0].wave_height;
    document.body.appendChild(div);
    
    //유의파고 최신 값
    if(dataType[0] === "obsWaveHight"){
      data_top[dataLength-1].wave_height;
      console.log(data_top[dataLength-1].wave_height);
    }else if(dataType[1] === "tidalBuWind") {
      data_top[dataLength-1].wave_height;
    }else if(dataType[2] === "tideObsWind") {
      data_top[dataLength-1].wave_height;
    }else if(dataType[3] === "tidalBu") {
      data_top[dataLength-1].wave_height;
    }else if(dataType[4] === "tidalHfRadar"){
      data_top[dataLength-1].wave_height;
    }
  }

  // $.ajax({
  //   url:url1,
  //   type: 'GET',     
  //   contentType: "application/json",
  //   success : function(response) {
  //     console.log(response);
  //   },
  //   error : function(xhr){console.log(xhr)} 
  // })


  // $.ajax({
  //   url: url1,
  //   dataType: "json",
  //   data: data,
  //   success: success
  // });

</script>
</body>
</html>