<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/apikey.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <title>해양정보</title>
</head>

<body>
  <div id="wrap">
      <!-- <a href="/wave?region=부산(송정)">부산본점(송정)</a>
      <a href="/wave?region=포항">포항</a>
      <a href="/wave?region=강릉경포">강릉경포</a>
      <a href="/wave?region=강릉망상">강릉망상</a>
      <a href="/wave?region=울산">울산</a>
      <a href="/wave?region=다대포">다대포</a>
      <a href="/wave?region=제주월정">제주월정</a> -->

      <a href="/wave2?str_region=부산본점(송정)">부산본점(송정)</a>
      <a href="/wave2?str_region=서프홀릭포항">서프홀릭포항</a>
      <a href="/wave2?str_region=서프홀릭강릉경포">서프홀릭강릉경포</a>
      <a href="/wave2?str_region=서프홀릭강릉">서프홀릭강릉</a>
      <a href="/wave2?str_region=서프홀릭울산">서프홀릭울산</a>
      <a href="/wave2?str_region=서프홀릭다대포">서프홀릭다대포</a>
      <a href="/wave2?str_region=서프홀릭제주월정">서프홀릭제주월정</a>
  </div>
</body>
</html>