<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wave.css">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/apikey.js"></script>
    <!-- <script src="/js/wave.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <section>
            <div id="today_wrap">
                <div id="weather">
                    <div id="data-weather">
                        <img id="data-weather1" src="/images/image1-1.png"/>
                        <p id="data-weather2"></p>
                    </div>
                    <div id="weather_con2">
                        <p>TODAY</p>
                        <div id="weather_star">
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                        </div>
                    </div>
                </div>
                <div id="date"></div>
            </div>
            
            <div id="wave_wrap">
                <div class="wave_ht">
                    <img src="/images/image1.png"/>
                    <p>Current</p>
                    <p>Waves</p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>

                <div class="wind_current wind_cur1">
                    <img src="/images/image2-3.png"/>
                    <img src="/images/image2-5.png"/>
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="wind_current wind_cur2">
                    <img src="/images/image2-4.png"/>
                    <img src="/images/image2-5.png"/>
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
            </div>
        </section>

        <section>
            <div class="title">Tide</div>
            <div id="tide_wrap">
                <div class="tide_picture tide_low">
                    <img src="/images/image3-1.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_high">
                    <img src="/images/image3-2.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_low">
                    <img src="/images/image3-1.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_high">
                    <img src="/images/image3-2.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
            </div>

            <p id="api_btn">레저활동신고</p>
        </section>

        <p class="title2">Show Forecast</p>   
        <section id="wind_guru">
            <script id="wg_fwdg_208542_100_1700440455527"></script>
        </section>

    <script>
        const urlParams = new URL(location.href).searchParams;
        let region = urlParams.get("str_region");

        window.onload = function() {
            urlsFun(region);
        }
        const windguruSec = document.getElementById("wind_guru").children[0];
        if(region === '부산본점(송정)'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=208542" ,"m=100","mw=47","uid=wg_fwdg_208542_100_1700440455527" ,'
                wind_grueTag +=  '"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,'
                wind_grueTag +=  '"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=2" ,"p=WINDSPD,GUST,SMER,HTSGW,PERPW,'
                wind_grueTag +=  'DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMP,TMPE,CDC,APCP1s,SLP,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.'
                wind_grueTag +=  'attachEvent("onload", loader);'
                wind_grueTag +=  '})(window, document); ';
            
            windguruSec.setAttribute("id","wg_fwdg_208542_100_1700440455527");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭강릉'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=1201403" ,"m=3","mw=47","uid=wg_fwdg_1201403_3_1701051162254" ,'
                wind_grueTag +=  '"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=3" ,'
                wind_grueTag +=  '"vt=forecasts" ,"lng=en" ,"p=WINDSPD,GUST,MWINDSPD,SMER,HTSGW,PERPW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMP,TMPE,CDC,TCDC,APCP1s,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload",loader);'
                wind_grueTag +=  '})(window, document); ';
            
            windguruSec.setAttribute("id","wg_fwdg_1201403_3_1701051162254");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭강릉경포'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=1199670" ,"m=45","mw=84","uid=wg_fwdg_1199670_45_1701060122200" ,'
                wind_grueTag +=  '"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=3" ,'
                wind_grueTag +=  '"vt=forecasts" ,"lng=en" ,"p=WINDSPD,GUST,SMER,HTSGW,DIRPW,SWELL1,SWDIR1,SWELL2,SWDIR2,WVHGT,WVDIR,TMPE,FLHGT,CDC,TCDC,APCPs,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload",loader);'
                wind_grueTag +=  '})(window, document); ';
            
            windguruSec.setAttribute("id","wg_fwdg_1199670_45_1701060122200");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭포항'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=208540" ,"m=100","mw=84","uid=wg_fwdg_208540_100_1701060477039" ,"wj=ms" ,'
                wind_grueTag +=  '"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,'
                wind_grueTag +=  '"lng=en" ,"idbs=1" ,"ts=1" ,"p=WINDSPD,GUST,SMER,HTSGW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMPE,FLHGT,CDC,TCDC,APCP1s,SLP,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);'
                wind_grueTag +=  '})(window, document);'
            
            windguruSec.setAttribute("id","wg_fwdg_208540_100_1701060477039");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭울산'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=654165" ,"m=100","mw=84","uid=wg_fwdg_654165_100_1701060676171" ,"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=2" ,"p=WINDSPD,GUST,SMER,HTSGW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMPE,FLHGT,CDC,TCDC,APCP1s,SLP,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);'
                wind_grueTag +=  '})(window, document);'
            
            windguruSec.setAttribute("id","wg_fwdg_654165_100_1701060676171");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭다대포'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=208543" ,"m=100","mw=84","uid=wg_fwdg_208543_100_1701060819023" ,"wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=2" ,"p=WINDSPD,GUST,SMER,HTSGW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMPE,FLHGT,CDC,TCDC,APCP1s,SLP,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);'
                wind_grueTag +=  '})(window, document);'
            
            windguruSec.setAttribute("id","wg_fwdg_208543_100_1701060819023");
            windguruSec.innerHTML = wind_grueTag;
        }else if(region === '서프홀릭제주월정'){
            var wind_grueTag = ''
                wind_grueTag +=  '(function (window, document) {'
                wind_grueTag +=  'var loader = function () {'
                wind_grueTag +=  'var arg = ["s=208548" ,"m=100","mw=84","uid=wg_fwdg_208548_100_1701061013006" , "wj=ms" ,"tj=c" ,"waj=m" ,"tij=cm" ,"odh=0" ,"doh=24" ,"fhours=240" ,"hrsm=2" ,"vt=forecasts" ,"lng=en" ,"idbs=1" ,"ts=1" ,"p=WINDSPD,GUST,SMER,HTSGW,DIRPW,SWELL1,SWDIR1,WVHGT,WVDIR,TMPE,FLHGT,CDC,APCP1s,SLP,RATING"];'
                wind_grueTag +=  'var script = document.createElement("script");'
                wind_grueTag +=  'var tag = document.getElementsByTagName("script")[0];'
                wind_grueTag +=  'script.src = "https://www.windguru.cz/js/widget.php?"+(arg.join("&"));'
                wind_grueTag +=  'tag.parentNode.insertBefore(script, tag);};'
                wind_grueTag +=  'window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);'
                wind_grueTag +=  '})(window, document);'
            
            windguruSec.setAttribute("id","wg_fwdg_208548_100_1701061013006");
            windguruSec.innerHTML = wind_grueTag;
        }

        function urlsFun(surfUrl) {
            const api_key1 = config.apikey1;
            const api_key2 = config.apikey2;
            
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var todayFormat = year+month+day;
            var todayWh = year+month+day; //유의파고 날짜

            var hours = ('0' + today.getHours()).slice(-2); 
            var minutes = ('0' + today.getMinutes()).slice(-2);
            var seconds = ('0' + today.getSeconds()).slice(-2);
            var timeFormat = hours + ':' + minutes  + ':' + seconds;
            var hours2 = Number(hours); //날씨&유의파고에 쓸 시간
            var hours3 = hours2-2; //유속유향에 쓸 시간

            //현재시간
            const current_time = document.getElementById("date").innerText = year+"."+month+"."+day + " " + hours + ':' + minutes;

            //유의파고 날짜 & 시간
            var base_time = "0000";
            if(hours2>=2 && hours2<5){
                base_time = "0200";
            }else if(hours2>=5 && hours2<8){
                base_time = "0500";
            }else if(hours2>=8 && hours2<11){
                base_time = "0800";
            }else if(hours2>=11 && hours2<14){
                base_time = "1100";
            }else if(hours2>=14 && hours2<17){
                base_time = "1400";
            }else if(hours2>=17 && hours2<20){
                base_time = "1700";
            }else if(hours2>=20 && hours2<23){
                base_time = "2000";
            }else{
                base_time = "2300";
                var yesterday = new Date(today.setDate(today.getDate() -1));
                console.log(yesterday);
                todayWh = yesterday.getFullYear() + ('0' + (yesterday.getMonth() + 1)).slice(-2) + ('0' + yesterday.getDate()).slice(-2);
            }

            let urls = [];
            if(surfUrl === '부산본점(송정)'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=100&ny=76";
                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date="+todayFormat+"&ResultType=json";
                console.log(urls[1]);
                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0005&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭포항'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=102&ny=96";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tideObsWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalHfRadar/search.do?ServiceKey=" + api_key1 + "&ObsCode=HF_0071&Date=" + todayFormat+hours3+ "&ResultType=json";

                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tideObsAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tideObsTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                console.log(api_key1 + todayFormat);
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0901&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭강릉'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=95&ny=129";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=SO_0733&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭강릉경포'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=94&ny=131";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0089&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0089&Date=" + todayFormat + "&ResultType=json";

                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=SO_0733&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=SO_0733&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭울산') {
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"nx=102&ny=80";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tideObsWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0020&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalHfRadar/search.do?ServiceKey=" + api_key1 + "&ObsCode=HF_0063&Date=" + todayFormat+hours3 + "&ResultType=json";

                //기온 //현재해야함
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tideObsAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0020&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tideObsTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0020&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0020&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭다대포') {
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=96&ny=73";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tideObsWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0056&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalCurrentArea/search.do?ServiceKey=" + api_key1 + "&Date=" + todayFormat + "&Hour=" + +hours +"&Minute=" +minutes+"&MaxX=129&MinX=128&MaxY=36&MinY=35&ResultType=json";
                console.log(urls[2]);

                //기온 //현재해야함
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tideObsAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0056&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tideObsTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0005&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0056&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭제주월정') {
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=59&ny=38";

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=KG_0028&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=KG_0028&Date=" + todayFormat + "&ResultType=json";
                console.log(urls[2]);

                //기온 //현재해야함
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=KG_0028&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=KG_0028&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0004&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }
        }

        function resultApi(urls) {
            urls.forEach((url,index) => {
                if(url != null){
                    fetch(url)
                    .then((response)=>response.json())
                    .then((json)=>{
                        console.log(json);
                        addNode(json,index);
                    });
                }else{
                    console.log("없음");
                }
            });
        }

        function addNode(json,index) {
            //날씨 & 유의파고
            if(index == 0){
                let dataWh = json.response.body.items.item;
                let dataWeather = document.getElementById("data-weather");
                let weather_star = document.getElementById("weather_star");
                let wave_ht = document.getElementsByClassName("wave_ht")[0];
                if(dataWh != null){
                    var sky = "";
                    var sky1 = dataWh[5].fcstValue; //날씨1
                    var sky2 = dataWh[6].fcstValue; //날씨2
                    var waveHe = dataWh[8].fcstValue; //파고
                    if(sky1 === "1" && sky2 === "0"){
                        sky = "맑음";
                        dataWeather.children[0].src = "/images/image1-1.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                    }else if(sky1==="3" && sky2 === "0"){
                        dataWeather.children[0].src = "/images/image1-2.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        sky = "구름많음";
                    }else if(sky1==="4" && sky2 === "0"){
                        dataWeather.children[0].src = "/images/image1-3.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        sky = "흐림";
                    }else if(sky2==="1"){
                        dataWeather.children[0].src = "/images/image1-4.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "비";
                    }else if(sky2==="2"){
                        dataWeather.children[0].src = "/images/image1-5.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "비/눈";
                    }else if(sky2==="3"){
                        dataWeather.children[0].src = "/images/image1-6.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "눈";
                    }else if(sky2==="4"){
                        dataWeather.children[0].src = "/images/image1-7.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        sky = "소나기";
                    }
                    var test = dataWeather.children[1].innerText = sky;
                    wave_ht.children[3].innerText = waveHe + "m";
                }
            }

            if(index == 1){ //풍향&풍속
                let data = json.result.data;
                if(data != null){
                    let wind_cur1 = document.getElementsByClassName("wind_cur1")[0];
                    let dataLast = data[data.length -1];
                    let wind_speed = dataLast.wind_speed;
                    let wind_dir = dataLast.wind_dir;
                    var rotate = "";
                    
                    var rotate = 230 + Number(wind_dir);
                    wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                    var deg = degFun(wind_dir);
                    // var rotate = 230 + Number(wind_dir);
                    // var scrollPosition = window.pageYOffset;
                    // var elementPosition = wind_cur1.children[1].offsetTop;
                    // if (scrollPosition >= elementPosition) {
                    //     wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                    // } else {
                    //     wind_cur1.children[1].style.transform = "rotate(230deg)";
                    // }

                    // window.addEventListener('scroll', function() {
                    //     var rotate = 230 + Number(wind_dir);
                    //     var scrollPosition = window.pageYOffset;

                    //     var elementPosition = wind_cur1.children[1].offsetTop;

                    //     if (scrollPosition >= elementPosition) {
                    //         wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                    //     } else {
                    //         wind_cur1.children[1].style.transform = "rotate(230deg)";
                    //     }
                    // });
                    wind_cur1.children[2].innerText = wind_dir + "° " + deg;
                    wind_cur1.children[3].innerText = wind_speed + "m/s";
                }
            }

            if(index == 2){//유속&유향
                let data = json.result.data;
                let wind_cur2 = document.getElementsByClassName("wind_cur2")[0];
                let current_speed = "";
                let current_direct = "";
                var rotate = "";

                if(region != "서프홀릭다대포"){
                    if(data != null){
                        let dataLast = data[data.length -1];
                        current_speed = dataLast.current_speed;
                        current_direct = dataLast.current_direct;
                        rotate = 230 + Number(current_direct);
                    }
                }else{
                    if(data != null){
                        let dataLast = data[data.length -1];
                        current_speed = dataLast.current_speed;
                        current_direct = dataLast.current_dir;
                        rotate = 230 + Number(current_direct);
                    }
                }
                wind_cur2.children[1].style.transform = "rotate("+rotate+"deg)";
                var deg = degFun(current_direct);
                wind_cur2.children[2].innerText = current_direct + "° " + deg;
                wind_cur2.children[3].innerText = current_speed + "m/s";
            }
            
            if(index == 3){//기온
                let data = json.result.data;
                if(data != null){
                    let wave_ht = document.getElementsByClassName("wave_ht")[0];
                    let dataLast = data[data.length -1];
                    let air_temp = dataLast.air_temp;
                    
                    wave_ht.children[4].innerText = "Air " + air_temp + "°C";
                }
            }

            if(index == 4){//수온
                let data = json.result.data;
                if(data != null){
                    let wave_ht = document.getElementsByClassName("wave_ht")[0];
                    let dataLast = data[data.length -1];
                    let water_temp = dataLast.water_temp;
                    
                    wave_ht.children[5].innerText =  "Water " + water_temp + "°C";
                }
            }

            if(index == 5){//조석,조위
                let data = json.result.data;
                if(data != null){
                    let tide_text = document.getElementsByClassName("tide_text");
                    let tide_picture = document.getElementsByClassName("tide_picture");
                    // let dataLast1 = "";
                    // let dataLast2 = data[1];
                    // let dataLast3 = data[2];
                    // let dataLast4 = data[3];
                    // let low_code1 = dataLast1.tph_level;
                    // let low_time1 = dataLast1.tph_time;
                    // let hl_code1 = dataLast2.tph_level;
                    // let hl_time1 = dataLast2.tph_time;
                    // let low_code2 = dataLast3.tph_level;
                    // let low_time2 = dataLast3.tph_time;
                    // let hl_code2 = dataLast4.tph_level;
                    // let hl_time2 = dataLast4.tph_time;

                    if(data[0] != null){
                        dataResult = data[0];
                        //고조 저조 태그 구분
                        if(dataResult.hl_code === "저조"){
                            tide_text[0].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[0].children[1].innerText = dataResult.tph_level + "cm";
                        }else if(dataResult.hl_code === "고조"){
                            tide_text[2].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[2].children[1].innerText = dataResult.tph_level + "cm";
                        }
                    }
                    if(data[1] != null){
                        dataResult = data[1];
                        //고조 저조 태그 구분
                        if(dataResult.hl_code === "저조"){
                            tide_text[1].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[1].children[1].innerText = dataResult.tph_level + "cm";
                        }else if(dataResult.hl_code === "고조"){
                            tide_text[2].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[2].children[1].innerText = dataResult.tph_level + "cm";
                        }
                    }
                    if(data[2] != null){
                        dataResult = data[2];
                        if(dataResult.hl_code === "저조"){
                            tide_text[2].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[2].children[1].innerText = dataResult.tph_level + "cm";
                        }else if(dataResult.hl_code === "고조"){
                            tide_text[3].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[3].children[1].innerText = dataResult.tph_level + "cm";
                        }
                    }
                    if(data[3] != null){
                        dataResult = data[3];
                        if(dataResult.hl_code === "저조"){
                            tide_text[2].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[2].children[1].innerText = dataResult.tph_level + "cm";
                        }else if(dataResult.hl_code === "고조"){
                            tide_text[3].children[0].innerText = dataResult.tph_time.substr(11,5);
                            tide_text[3].children[1].innerText = dataResult.tph_level + "cm";
                        }
                    }

                    //값이 없는 경우 숨기기
                    var i = 0;
                    for (let index = 0; index < 4; index++) {
                        if(tide_text[index].children[0].innerText === "데이터"){
                            tide_text[index].style.display = "none";
                            tide_picture[index].style.display = "none";
                            i =+1;
                        }
                        console.log(i);
                    }
                    if(i < 2){
                        document.getElementById("tide_wrap").style.paddingLeft = "240px";
                    }else if(i<3){
                        document.getElementById("tide_wrap").style.paddingLeft = "307px";
                    }else if(i<4){
                        document.getElementById("tide_wrap").style.paddingLeft = "450px";
                    }
                    
                    // tide_text[0].children[0].innerText = low_time1.substr(11,5);
                    // tide_text[0].children[1].innerText = low_code1 + "cm";
                    // tide_text[1].children[0].innerText = hl_time1.substr(11,5);
                    // tide_text[1].children[1].innerText = hl_code1 + "cm";
                    // tide_text[2].children[0].innerText = low_time2.substr(11,5);
                    // tide_text[2].children[1].innerText = low_code2 + "cm";
                    // tide_text[3].children[0].innerText = hl_time2.substr(11,5);
                    // tide_text[3].children[1].innerText = hl_code2 + "cm";
                }
            }

        }

        function degFun(deg){
            if(0 == deg){
                return "North";
            }else if(0<deg && deg<90){
                return "North East";
            }else if(90 == deg){
                return "East";
            }else if(90<deg && deg<180){
                return "South East";
            }else if(180 == deg){
                return "South";
            }else if(180<deg && deg<270){
                return "South West";
            }else if(270 == deg){
                return "West";
            }else if(270<deg && deg<360){
                return "North West";
            }else if(360==deg){
                return "North";
            }
        }
    </script>
</body>
</html>