<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wave.css">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/apikey.js"></script>
    <!-- <script src="/js/wave.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <section>
            <div id="today_wrap">
                <div id="weather">
                    <div id="data-weather">
                        <img id="data-weather1" src="/images/image1-1.png"/>
                        <p id="data-weather2"></p>
                    </div>
                    <div id="weather_con2">
                        <p>TODAY</p>
                        <div id="weather_star">
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                            <img src="/images/image2-2.png"/>
                        </div>
                    </div>
                </div>
                <div id="date">2023.11.28 15:00</div>
            </div>
            
            <div id="wave_wrap">
                <div class="wave_ht">
                    <img src="/images/image1.png"/>
                    <p>Current</p>
                    <p>Waves</p>
                    <p>데이터</p>
                    <p>데이터</p>
                    <p>데이터</p>
                </div>

                <div class="wind_current wind_cur1">
                    <img src="/images/image2-3.png"/>
                    <img src="/images/image2-5.png"/>
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="wind_current wind_cur2">
                    <img src="/images/image2-4.png"/>
                    <img src="/images/image2-5.png"/>
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
            </div>
        </section>

        <section>
            <div class="title">Tide</div>
            <div id="tide_wrap">
                <div class="tide_picture tide_low">
                    <img src="/images/image3-1.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_high">
                    <img src="/images/image3-2.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_low">
                    <img src="/images/image3-1.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
                <div class="tide_picture tide_high">
                    <img src="/images/image3-2.png"/>
                </div>
                <div class="tide_text">
                    <p>데이터</p>
                    <p>데이터</p>
                </div>
            </div>
        </section>

    <script>
        window.onload = function() {
            const urlParams = new URL(location.href).searchParams;
            let region = urlParams.get("str_region");
    
            console.log(region);
            urlsFun(region);
        }

        
        function urlsFun(surfUrl) {
            const api_key1 = config.apikey1;
            const api_key2 = config.apikey2;
            
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var todayFormat = year+month+day;
            var todayWh = year+month+day; //유의파고 날짜

            var hours = ('0' + today.getHours()).slice(-2); 
            var minutes = ('0' + today.getMinutes()).slice(-2);
            var seconds = ('0' + today.getSeconds()).slice(-2);
            var timeFormat = hours + ':' + minutes  + ':' + seconds;

            //현재시간
            const current_time = document.getElementById("date").innerText = year+"."+month+"."+day + " " + hours + ':' + minutes;


            //유의파고 날짜 & 시간
            var base_time = "0000";
            if(timeFormat>=2 && timeFormat<5){
                base_time = "0200";
            }else if(timeFormat>=5 && timeFormat<8){
                base_time = "0500";
            }else if(timeFormat>=8 && timeFormat<11){
                base_time = "0800";
            }else if(timeFormat>=11 && timeFormat<14){
                base_time = "1100";
            }else if(timeFormat>=14 && timeFormat<17){
                base_time = "1400";
            }else if(timeFormat>=17 && timeFormat<20){
                base_time = "1700";
            }else if(timeFormat>=20 && timeFormat<23){
                base_time = "2000";
            }else{
                base_time = "2300";
                var yesterday = new Date(today.setDate(today.getDate() -1));
                console.log(yesterday);
                todayWh = yesterday.getFullYear() + ('0' + (yesterday.getMonth() + 1)).slice(-2) + ('0' + yesterday.getDate()).slice(-2);
            }

            let urls = [];
            if(surfUrl === '부산본점(송정)'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=100&ny=76";
                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date="+todayFormat+"&ResultType=json";
                console.log(urls[1]);
                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";
                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0005&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭포항'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=102&ny=96";
                console.log(urls);

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tideObsWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalHfRadar/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0090&Date=" + todayFormat + "&ResultType=json";

                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tideObsAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tideObsTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0091&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=DT_0901&Date=" + todayFormat + "&ResultType=json";
                resultApi(urls);
            }else if(surfUrl === '서프홀릭강릉'){
                //유의파고&날씨
                urls[0] = "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst?ServiceKey=" + api_key2 + "&dataType=JSON&base_date="+todayWh+"&base_time="+base_time+"&nx=95&ny=129";
                console.log(urls);

                //풍향/풍속
                urls[1] = "http://www.khoa.go.kr/api/oceangrid/tidalBuWind/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date="+todayFormat+"&ResultType=json";

                //유속/유향
                urls[2] = "http://www.khoa.go.kr/api/oceangrid/tidalBu/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //기온
                urls[3] = "http://www.khoa.go.kr/api/oceangrid/tidalBuAirTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //수온
                urls[4] = "http://www.khoa.go.kr/api/oceangrid/tidalBuTemp/search.do?ServiceKey=" + api_key1 + "&ObsCode=TW_0094&Date=" + todayFormat + "&ResultType=json";

                //조석(저조,고조)
                urls[5] = "http://www.khoa.go.kr/api/oceangrid/tideObsPreTab/search.do?ServiceKey=" + api_key1 + "&ObsCode=SO_0733&Date=" + todayFormat + "&ResultType=json";
            }else if(surfUrl === '서프홀릭강릉경포'){
                
            }else if(surfUrl === '서프홀릭울산') {
            
            }else if(surfUrl === '서프홀릭다대포') {
                
            }else if(surfUrl === '서프홀릭제주월정') {
                
            }
        }

        function resultApi(urls) {
            urls.forEach((url,index) => {
                if(url != null){
                    fetch(url)
                    .then((response)=>response.json())
                    .then((json)=>{
                        console.log(json);
                        addNode(json,index);
                    });
                }else{
                    console.log("없음");
                }
            });
        }

        function addNode(json,index) {
            //ㅇㅇㅇ
            if(index == 0){
                let dataWh = json.response.body.items.item;
                let dataWeather = document.getElementById("data-weather");
                let weather_star = document.getElementById("weather_star");
                let wave_ht = document.getElementsByClassName("wave_ht")[0];
                if(dataWh != null){
                    var sky = "";
                    var sky1 = dataWh[5].fcstValue; //날씨1
                    var sky2 = dataWh[6].fcstValue; //날씨2
                    var waveHe = dataWh[8].fcstValue; //파고
                    if(sky1 === "1" && sky2 === "0"){
                        sky = "맑음";
                        dataWeather.children[0].src = "/images/image1-1.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                    }else if(sky1==="3" && sky2 === "0"){
                        dataWeather.children[0].src = "/images/image1-2.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        sky = "구름많음";
                    }else if(sky1==="4" && sky2 === "0"){
                        dataWeather.children[0].src = "/images/image1-3.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        sky = "흐림";
                    }else if(sky2==="1"){
                        dataWeather.children[0].src = "/images/image1-4.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "비";
                    }else if(sky2==="2"){
                        dataWeather.children[0].src = "/images/image1-5.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "비/눈";
                    }else if(sky2==="3"){
                        dataWeather.children[0].src = "/images/image1-6.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        weather_star.children[4].src = "/images/image2-1.png";
                        sky = "눈";
                    }else if(sky2==="4"){
                        dataWeather.children[0].src = "/images/image1-7.png";
                        weather_star.children[0].src = "/images/image2-1.png";
                        weather_star.children[1].src = "/images/image2-1.png";
                        weather_star.children[2].src = "/images/image2-1.png";
                        weather_star.children[3].src = "/images/image2-1.png";
                        sky = "소나기";
                    }
                    var test = dataWeather.children[1].innerText = sky;
                    wave_ht.children[3].innerText = waveHe;
                }
            }

            if(index == 1){ //풍향&풍속
                let data = json.result.data;
                if(data != null){
                    let wind_cur1 = document.getElementsByClassName("wind_cur1")[0];
                    let dataLast = data[data.length -1];
                    let wind_speed = dataLast.wind_speed;
                    let wind_dir = dataLast.wind_dir;
                    var deg = degFun(wind_dir);
                    //wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                    var rotate = 230 + Number(wind_dir);
                    var scrollPosition = window.pageYOffset;
                    var elementPosition = wind_cur1.children[1].offsetTop;
                    if (scrollPosition >= elementPosition) {
                        wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                    } else {
                        wind_cur1.children[1].style.transform = "rotate(230deg)";
                    }

                    window.addEventListener('scroll', function() {
                        var rotate = 230 + Number(wind_dir);
                        var scrollPosition = window.pageYOffset;

                        var elementPosition = wind_cur1.children[1].offsetTop;

                        if (scrollPosition >= elementPosition) {
                            wind_cur1.children[1].style.transform = "rotate("+rotate+"deg)";
                        } else {
                            wind_cur1.children[1].style.transform = "rotate(230deg)";
                        }
                    });
                    wind_cur1.children[2].innerText = wind_dir + "° " + deg;
                    wind_cur1.children[3].innerText = wind_speed + "m/s";
                }
            }

            if(index == 2){//유속&유향
                let data = json.result.data;
                if(data != null){
                    let wind_cur2 = document.getElementsByClassName("wind_cur2")[0];
                    let dataLast = data[data.length -1];
                    let current_speed = dataLast.current_speed;
                    let current_direct = dataLast.current_direct;
                    var rotate = 230 + Number(current_direct);
                    wind_cur2.children[1].style.transform = "rotate("+rotate+"deg)";
                    var deg = degFun(current_direct);
                    wind_cur2.children[2].innerText = current_direct + "° " + deg;
                    wind_cur2.children[3].innerText = current_speed + "m/s";
                }
            }
            
            if(index == 3){//기온
                let data = json.result.data;
                if(data != null){
                    let wave_ht = document.getElementsByClassName("wave_ht")[0];
                    let dataLast = data[data.length -1];
                    let air_temp = dataLast.air_temp;
                    
                    wave_ht.children[4].innerText = "Air " + air_temp + "°C";
                }
            }

            if(index == 4){
                let data = json.result.data;
                if(data != null){
                    let wave_ht = document.getElementsByClassName("wave_ht")[0];
                    let dataLast = data[data.length -1];
                    let water_temp = dataLast.water_temp;
                    
                    wave_ht.children[5].innerText =  "Water " + water_temp + "°C";
                }
            }

            if(index == 5){
                let data = json.result.data;
                if(data != null){
                    let tide_text = document.getElementsByClassName("tide_text");
                    let dataLast1 = data[0];
                    let dataLast2 = data[1];
                    let dataLast3 = data[2];
                    let dataLast4 = data[3];
                    let low_code1 = dataLast1.tph_level;
                    let low_time1 = dataLast1.tph_time;
                    let hl_code1 = dataLast2.tph_level;
                    let hl_time1 = dataLast2.tph_time;
                    let low_code2 = dataLast3.tph_level;
                    let low_time2 = dataLast3.tph_time;
                    let hl_code2 = dataLast4.tph_level;
                    let hl_time2 = dataLast4.tph_time;
                    
                    tide_text[0].children[0].innerText = low_time1.substr(11,5);
                    tide_text[0].children[1].innerText = low_code1 + "cm";
                    tide_text[1].children[0].innerText = hl_time1.substr(11,5);
                    tide_text[1].children[1].innerText = hl_code1 + "cm";
                    tide_text[2].children[0].innerText = low_time2.substr(11,5);
                    tide_text[2].children[1].innerText = low_code2 + "cm";
                    tide_text[3].children[0].innerText = hl_time2.substr(11,5);
                    tide_text[3].children[1].innerText = hl_code2 + "cm";
                }
            }

        }

        function degFun(deg){
            if(0 == deg){
                return "North";
            }else if(0<deg && deg<90){
                return "North East";
            }else if(90 == deg){
                return "East";
            }else if(90<deg && deg<180){
                return "South East";
            }else if(180 == deg){
                return "South";
            }else if(180<deg && deg<270){
                return "South West";
            }else if(270 == deg){
                return "West";
            }else if(270<deg && deg<360){
                return "North West";
            }else if(360==deg){
                return "North";
            }
        }
    </script>
</body>
</html>